<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182608332399-pqp1qc3hpgpvdhsi2eja7kbh6dlc28ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182608332399-pqp1qc3hpgpvdhsi2eja7kbh6dlc28ds</string>
	<key>API_KEY</key>
	<string>AIzaSyDdf_G0_t1sTCc3zbrz36mW76pz51pHfq4</string>
	<key>GCM_SENDER_ID</key>
	<string>182608332399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antrum.lovewaves</string>
	<key>PROJECT_ID</key>
	<string>love-waves</string>
	<key>STORAGE_BUCKET</key>
	<string>love-waves.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182608332399:ios:3c1a9ca0ffd94fbef46f9a</string>
</dict>
</plist>